@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>



<h1>Low Stock Alerts</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ItemId
            </th>
            <th>
                Count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if ((int)item.Count < 6)
            {
                <tr>
                    <td>
                        @item.ProductId
                    </td>
                    <td>
                        @item.Count
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


